@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

:root {
  --black: #2f3740;
  --white: #edecef;
  --red: #eb2a46;
  --blue: #438cf3;
  --green: #377f79;
  --yellow: #fad716;
  --grey: #7d91ba;
  --background: #f7f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 405px;
  min-width: 405px;
  margin: 10px auto;
  padding: 40px 20px;
  border-radius: 30px;
  gap: 20px;
  background-color: var(--black);
  /* #2f3740 */
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: -8px -8px 10px 3px #414a554f, 8px 8px 10px 3px #242a3260;
  font-size: 40px;
  text-align: right;
  width: 100%;
  height: 120px;
}

.display > .input {
  font-size: 22px;
  /* margin-bottom: 8px; */
}

.display > .output {
  font-size: 42px;
  font-weight: bold;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.content .operator {
  color: var(--green);
}

.buttons-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.buttons-row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--grey);
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  width: 80px;
  height: 85px;
  border-radius: 20px;
  background-color: var(--white);
  cursor: pointer;
}

.button:active {
  background-color: rgb(198, 196, 196);
}

.operator {
  color: var(--white);
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 65px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -1px -1px 3px 1px #ffffff19, 3px 3px 3px 1px #00000021;
}
.red {
  background-color: var(--red);
}
.red:active {
  background-color: #c7243d;
}

.yellow {
  background-color: var(--yellow);
}
.yellow:active {
  background-color: #d1b00f;
}

.green {
  background-color: var(--green);
}
.green:active {
  background-color: #2a6a6a;
}

.blue {
  background-color: var(--blue);
}
.blue:active {
  background-color: #3a7ad1;
}
.white {
  box-shadow: -3px -3px 3px -2px #ffffffc2, 3px 3px 3px 1px #00000021;
}

.circle {
  border-radius: 45px;
}

.zero {
  /* flex-basis: 50%; */
  width: 175px;
}

.zero2 {
  width: 135px;
}
